[submodule "stopwatch"]
	path = stopwatch
	url = https://github.com/sdash29/stopwatch.git
[submodule "combo-safe"]
	path = combo-safe
	url = https://github.com/sdash29/combo-safe.git
[submodule "Tron-light-cycle-game"]
	path = Tron-light-cycle-game
	url = https://github.com/sdash29/Tron-light-cycle-game.git
